$bg: white;
$textColor: black;
$lightText: white;
$primary: black;
$secondary: #E5E5E5;
$radius: 8px;
$shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

// notifications
$warning: #DC8433;
$success: #2B8929;
$error: #2B8929;
$normal: black;